<div class="chicks">
  <img class="img-circle" src="{{image}}" alt="{{name}}">
  <h2><span class="info">{{name}}</span></h2>
  <div>Location:  <span class="info">{{location}}</span></div>
  <div>Status: <span class="info">{{status}}</span></div>
  <a class="edit" href="/chicks/{{id}}/edit">Edit</a>

</div>
